<?xml version="1.0"?>
<!--
Copyright 2026 Duatic AG

Redistribution and use in source and binary forms, with or without modification, are permitted
provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this list of conditions
and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice, this list of
conditions and the following disclaimer in the documentation and/or other materials provided with
the distribution.

3. Neither the name of the copyright holder nor the names of its contributors may be used to
endorse or promote products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS “AS IS” AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT
OF
THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find duatic_duadrive_interface)/urdf/duadrive_interface.urdf.xacro" />

  <!--Macro which only creates the joints of a dynaarm (used for combined hardware interfaces)-->
  <xacro:macro name="dynaarm_ros2_control_joints"
      params="
        ethercat_bus
        mode
        parent_unit
        version
        tf_prefix
        ethercat_addresses
        drive_parameter_folder:=''">


      <!--Allow the user to pass a custom folder for drive parameters-->
      <xacro:property name="default_drive_parameter_folder" value="$(find duatic_dynaarm_driver)/config/${version}" />
      <xacro:if value="${drive_parameter_folder == ''}">
        <xacro:property name="drive_parameter_folder_internal" value="${default_drive_parameter_folder}" />
      </xacro:if>
      <xacro:unless value="${drive_parameter_folder == ''}">
        <xacro:property name="drive_parameter_folder_internal" value="${drive_parameter_folder}" />
      </xacro:unless>

      <xacro:if value="${dof >= 1}">
        <xacro:duadrive_interface_joint name="${tf_prefix}shoulder_rotation"
          ethercat_address="${ethercat_addresses['shoulder_rotation']}"
          ethercat_bus="${ethercat_bus}"
          mode="${mode}"
          parent_unit="${parent_unit}"
          drive_parameter_file_path="${drive_parameter_folder_internal}/shoulder_rotation.yaml" />
      </xacro:if>

      <xacro:if value="${dof >= 2}">
        <xacro:duadrive_interface_joint name="${tf_prefix}shoulder_flexion"
          ethercat_address="${ethercat_addresses['shoulder_flexion']}"
          ethercat_bus="${ethercat_bus}"
          mode="${mode}"
          parent_unit="${parent_unit}"
          drive_parameter_file_path="${drive_parameter_folder_internal}/shoulder_flexion.yaml" />
      </xacro:if>

      <xacro:if value="${dof >= 3}">
        <xacro:duadrive_interface_joint name="${tf_prefix}elbow_flexion"
          ethercat_address="${ethercat_addresses['elbow_flexion']}"
          ethercat_bus="${ethercat_bus}"
          mode="${mode}"
          parent_unit="${parent_unit}"
          drive_parameter_file_path="${drive_parameter_folder_internal}/elbow_flexion.yaml" />
      </xacro:if>

      <xacro:if value="${dof >= 4}">
        <xacro:duadrive_interface_joint name="${tf_prefix}forearm_rotation"
          ethercat_address="${ethercat_addresses['forearm_rotation']}"
          ethercat_bus="${ethercat_bus}"
          mode="${mode}"
          parent_unit="${parent_unit}"
          drive_parameter_file_path="${drive_parameter_folder_internal}/forearm_rotation.yaml" />
      </xacro:if>

      <xacro:if value="${dof >= 5}">
        <xacro:duadrive_interface_joint name="${tf_prefix}wrist_flexion"
          ethercat_address="${ethercat_addresses['wrist_flexion']}"
          ethercat_bus="${ethercat_bus}"
          mode="${mode}"
          parent_unit="${parent_unit}"
          drive_parameter_file_path="${drive_parameter_folder_internal}/wrist_flexion.yaml" />
      </xacro:if>

      <xacro:if value="${dof >= 6}">
        <xacro:duadrive_interface_joint name="${tf_prefix}wrist_rotation"
          ethercat_address="${ethercat_addresses['wrist_rotation']}"
          ethercat_bus="${ethercat_bus}"
          mode="${mode}"
          parent_unit="${parent_unit}"
          drive_parameter_file_path="${drive_parameter_folder_internal}/wrist_rotation.yaml" />
      </xacro:if>
      <!--
      <xacro:if value="${mode != 'isaac'}">
        <gpio name="${parent_unit}">
          <command_interface name="freeze_mode" />
        </gpio>
      </xacro:if>-->
  </xacro:macro>

  <xacro:macro name="dynaarm_ros2_control"
               params="tf_prefix
                       namespace:=''
                       ethercat_bus
                       start_in_freeze_mode
                       drive_parameter_folder:=''
                       version
                       ethercat_addresses
                       mode">


    <ros2_control name="${tf_prefix}DynaarmSystem" type="system">
      <hardware>
        <xacro:if value="${mode == 'isaac'}">
          <!--Special case for isaac gym-->
          <plugin>joint_state_topic_hardware_interface/JointStateTopicSystem</plugin>
          <param name="joint_states_topic">isaac_joint_states</param>
          <param name="joint_commands_topic">${tf_prefix}isaac_joint_command</param>
          <!-- Isaac wraps joint angles, this helps un-wrap them -->
          <param name="sum_wrapped_joint_states">true</param>
        </xacro:if>
        <xacro:if value="${mode == 'sim'}">
          <!--Special case for gazebo simulation-->
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </xacro:if>
        <xacro:if value="${mode == 'mock'}">
          <!--Special case for mocked hardware (simple feedback)-->
          <plugin>duatic::dynaarm_driver/DynaArmHardwareInterfaceMock</plugin>
          <param name="tf_prefix">${tf_prefix}</param>
          <param name="start_in_freeze_mode">${start_in_freeze_mode}</param>
          <param name="initial_positions">[0.05, 0.05, 0.10, 0.05, 0.05, 0.05]</param>
        </xacro:if>
        <xacro:if value="${mode == 'real'}">
          <!--Special case for real hardware-->
          <plugin>duatic::dynaarm_driver/DynaArmHardwareInterfaceReal</plugin>
          <param name="tf_prefix">${tf_prefix}</param>
          <param name="start_in_freeze_mode">${start_in_freeze_mode}</param>
        </xacro:if>
      </hardware>

      <xacro:dynaarm_ros2_control_joints
        tf_prefix="${tf_prefix}"
        mode="${mode}"
        version="${version}"
        ethercat_bus="${ethercat_bus}"
        parent_unit="${tf_prefix}DynaarmSystem"
        ethercat_addresses="${ethercat_addresses}"/>

    </ros2_control>
  </xacro:macro>

</robot>
